header{
    border: 2px solid black;
    height: 75px;
    max-height: 135px;
    width: 100%;
    min-width: 100%;
}
div.page-header{
    background-color:#212529;
}
section{
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
}
code{
    color: cyan;
}
#play{
    color: green;

}
#stop{
    color: red;
    left: 2.5%;

}
.newsControl{
    display: inline-block;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.0);
    width: 2%;
    border: 0;

}