@media only screen and (max-width: 600px) {
    #carouselExampleControls{
        width: 100% !important;
    }
    #carouselExampleControls img{
        width: 100% !important;
    }
  }

.btn{
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    height: 5vh;
}
div.col-6.text-center input{
    width: 30%;
}
#satForm{
    border: .5em solid black;
}
#satInstructions{
    width: 80%;
    margin: 5% auto;
}
#mainCard{
    text-align: center;
}